<!DOCTYPE html>
<html lang="en">
<head>
<title>Alpha Blog</title>

</head>
<body>

<section class="hero hero-with-bg is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container" id="homepagehero">
      <h1 class="title is-1 is-white">
        ALPHA BLOG
      </h1>
      <h2 class="subtitle">
        <%= link_to "View Articles", articles_path, class: "button is-primary is-large" %>
      </h2>
    </div>
  </div>
</section>

</body>
</html>
